<div class="col-4 mb-4">
    <div class="card">
        <img src="/img/image_1.png" class="card-img-top" style="transform: scale(50%);"alt="...">
        <div class="card-body">
            <h6 class="card-title">Car Name </h6>
            <h6 class="card-title">Rp. xxxx  / hari</h6>
            <p class="card-text">
                <img src="/img/fi_key.png" alt="">
                x Date year  - x Date year
            </p>
            <p class="card-text">
                <img src="/img/fi_clock.png" alt="">
                Updated at x Date year , 09.00
            </p>
            <div class="row">
                <div class="col-6">
                    <a href="#" class="btn btn-outline-danger w-100">
                        <i class="fa-regular fa-trash-can"></i>
                        Delete
                    </a>
                </div>
                <div class="col-6">
                    <a href="#" class="btn btn-success w-100">
                        <i class="fa-regular fa-pen-to-square"></i>
                        Edit
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-4 mb-4">
    <div class="card">
        <img src="/img/image_1.png" class="card-img-top" style="transform: scale(50%);"alt="...">
        <div class="card-body">
            <h6 class="card-title">Car Name </h6>
            <h6 class="card-title">Rp. xxxx  / hari</h6>
            <p class="card-text">
                <img src="/img/fi_key.png" alt="">
                x Date year  - x Date year
            </p>
            <p class="card-text">
                <img src="/img/fi_clock.png" alt="">
                Updated at x Date year , 09.00
            </p>
            <div class="row">
                <div class="col-6">
                    <a href="#" class="btn btn-outline-danger w-100">
                        <i class="fa-regular fa-trash-can"></i>
                        Delete
                    </a>
                </div>
                <div class="col-6">
                    <a href="#" class="btn btn-success w-100">
                        <i class="fa-regular fa-pen-to-square"></i>
                        Edit
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-4 mb-4">
    <div class="card">
        <img src="/img/image_1.png" class="card-img-top" style="transform: scale(50%);"alt="...">
        <div class="card-body">
            <h6 class="card-title">Car Name </h6>
            <h6 class="card-title">Rp. xxxx  / hari</h6>
            <p class="card-text">
                <img src="/img/fi_key.png" alt="">
                x Date year  - x Date year
            </p>
            <p class="card-text">
                <img src="/img/fi_clock.png" alt="">
                Updated at x Date year , 09.00
            </p>
            <div class="row">
                <div class="col-6">
                    <a href="#" class="btn btn-outline-danger w-100">
                        <i class="fa-regular fa-trash-can"></i>
                        Delete
                    </a>
                </div>
                <div class="col-6">
                    <a href="#" class="btn btn-success w-100">
                        <i class="fa-regular fa-pen-to-square"></i>
                        Edit
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-4 mb-4">
    <div class="card">
        <img src="/img/image_1.png" class="card-img-top" style="transform: scale(50%);"alt="...">
        <div class="card-body">
            <h6 class="card-title">Car Name </h6>
            <h6 class="card-title">Rp. xxxx  / hari</h6>
            <p class="card-text">
                <img src="/img/fi_key.png" alt="">
                x Date year  - x Date year
            </p>
            <p class="card-text">
                <img src="/img/fi_clock.png" alt="">
                Updated at x Date year , 09.00
            </p>
            <div class="row">
                <div class="col-6">
                    <a href="#" class="btn btn-outline-danger w-100">
                        <i class="fa-regular fa-trash-can"></i>
                        Delete
                    </a>
                </div>
                <div class="col-6">
                    <a href="#" class="btn btn-success w-100">
                        <i class="fa-regular fa-pen-to-square"></i>
                        Edit
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>