<div class="sidebar">
    <div class="row h-100">
        <div class="main text-center h-100">
            <img src="/img/kotak.png" class="logo" alt="bcr-logo">
            <ul class="w-100">
                <a href="/dashboard">
                    <li class="active">
                        <img src="/img/fi_home.png" style="transform: scale(80%); margin-top:-10px;" alt="">
                        <p class="my-2 text-center">Dashboard</p>
                    </li>
                </a>
                <a href="/car">
                    <li>
                        <img src="/img/fi_truck.png" style="transform: scale(80%);" alt="">
                        <p class="my-2">Cars</p>
                    </li>
                </a>
            </ul>
        </div>
        <div class="sub-main">
            <h4>Binar</h4>
            <h6 class="sub-main-title text-uppercase">Dashboard</h6>
            <ul>
                <a href="#">
                    <li>
                        <h6>Dashboard</h6>
                    </li>
                </a>
            </ul>
        </div>
    </div>
</div>